<table
  id="dtBasicExample"
  class="table table-striped table-bordered table-sm"
  cellspacing="0"
  width="100%"
>
  <thead>
    <tr>
      <th class="th-sm">Id</th>
      <th class="th-sm">CreatedAt</th>
      <th class="th-sm">Comment</th>
      <th class="th-sm">Post</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let item of comments?.items
          | paginate
            : {
                id: 'commentPagination',
                itemsPerPage: commentsItemsPerPage,
                currentPage: commentsPage,
                totalItems: commentsTotalItems
              }
      "
    >
      <td class="id">
        <div>
          {{ item.id }}
        </div>
      </td>
      <td class="createdAt">
        <div>
          {{ item.createdAt | date: "dd-MM-yyyy" }}
        </div>
      </td>
      <td>
        <div class="content">
          {{ item.content }}
        </div>
      </td>
      <td class="pictures">
        <div class="pictures">
            <div class="profile-block" *ngIf="item.post.medias?.length > 0" (click)="openPopUp(item.post.id)">
              <img src="{{ item.post.medias[0].path }}" />
              <div class="picture-count">{{ item.post.medias.length }}</div>
            </div>
          </div>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls
  id="commentPagination"
  (pageChange)="getPage((commentsPage = $event))"
></pagination-controls>
