<nav class="navbar">
    <ul class="nav-list">
      <li routerLinkActive="active"><a [routerLink]="['/dashboard']">Dashboard</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/users']">Users</a></li>
      <li routerLinkActive="active" class="dropdown">
        <a [routerLink]="['/reports']" class="dropbtn">Reports</a>
      </li>
      <li routerLinkActive="active"><a [routerLink]="['/posts']">Posts</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/ratings']">Ratings</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/comments']">Comments</a></li>
      <li class="avatar">
        <a href="#">
          <img src={{avatar}}>
        </a>
        <div class="submenu">
          <a href="#" (click)="_authService.logoutUser()">Logout</a>
        </div>
      </li>
    </ul>
  </nav>
  