<div class="row small-search">
    <div class="col-md-2">
      <select class="form-select" [(ngModel)]="selectedRole" (ngModelChange)="searchReportsByAdmin('1')">
        <option value="pending">Pending</option>
        <option value="treated">Treated</option>
      </select>
    </div>
    <div class="col-md-6">
      <input class="form-control form-control-sm" type="text" [(ngModel)]="searchTerm" placeholder="Search..." (ngModelChange)="searchReportsByAdmin('1')">
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary btn-sm" (click)="resetFilters()">Reset</button>
    </div>
  </div>
  <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Id</th>
        <th class="th-sm">CreatedAt</th>
        <th class="th-sm">Content</th>
        <th class="th-sm">Reported</th>
        <th class="th-sm">Reporter</th>
        <th class="th-sm">Status</th>
        <th class="th-sm">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of reports?.items | paginate: { id: 'reportPagination', itemsPerPage: itemsPerPage, currentPage: p, totalItems: totalItems }">
        <td>{{ item.id }}</td>
        <td>{{ item.createdAt | date: 'dd-MM-yyyy' }}</td>
        <td>
          <div class="phone">{{ item.content }}</div>
        </td>
        <td class="pictures">
          <div class="pictures">
              <div class="profile-block" (click)="redirectTo('/profile/'+item.owner.id);">
                <img src="{{ item.owner?.avatar }}" />
              </div>
            </div>
        </td>
        <td class="pictures">
          <div class="pictures">
              <div class="profile-block" (click)="redirectTo('/profile/'+item.reporter.id);">
                <img src="{{ item.reporter?.avatar }}" />
              </div>
            </div>
        </td>
        <td>{{ item.status }}</td>
        <td>
          <button (click)='openPopUp(item.id);'>Show</button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls id="reportPagination" (pageChange)="searchReportsByAdmin(p = $event)"></pagination-controls>
  