<header>

    <div class="container">
  
      <div class="profile">
  
        <div class="profile-image">
  
          <img src="{{user.avatar}}" alt="">
  
        </div>
  
        <div class="profile-user-settings">
  
          <h1 class="profile-user-name">{{user.username}}</h1>
  
          <button class="btn profile-edit-btn">Edit Profile</button>
  
          <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
  
        </div>
  
        <div class="profile-stats">
  
          <ul>
            <li><span class="profile-stat-count">{{posts.meta.totalItems}}</span> posts</li>
            <li><span class="profile-stat-count">{{user.followers}}</span> followers</li>
            <li><span class="profile-stat-count">{{user.followings}}</span> following</li>
          </ul>
  
        </div>
  
        <div class="profile-bio">
  
          <p><span class="profile-real-name">{{user.firstname}} {{user.lastname}}</span></p>
  
        </div>
  
      </div>
      <!-- End of profile section -->
  
    </div>
    <!-- End of container -->
  
  </header>
 

  <main>
  
    <div class="container">
      <div class="gallery">
      <div class="gallery-item" *ngFor="let item of _gallery; let i=index">
          
  
        <div *ngFor="let image of item.postAlbum; let j=index">
  
          <img [src]="image.thumb" (click)="open(i,j)" class="gallery-image" alt="">
  
         
  
        </div>
        <div class="gallery-item-info">
  
          <ul>
            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> {{ item.postLikes}} </li>
            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> {{ item.postComments}}</li>
          </ul>

        </div>
        
  
      </div>
  
    </div>
  
      <!-- End of gallery -->
  
      <div class="loader"></div>
  
    </div>
    <!-- End of container -->
  
  </main>
  
  
  
  Resources









<p>profile works!</p>


<div>
    <img src="{{user.avatar}}">
    username : {{user.username}}<br>
    firstname : {{user.firstname}}<br>
    lastname : {{user.lastname}}<br>
    email : {{user.email}}<br>
    role : {{user.role}}<br>
    phoneNumber : {{user.phoneNumber}}<br>
    id : {{user.id}}<br>
    createdAt : {{user.createdAt}}<br>
    updatedAt : {{user.updatedAt}}
</div>

<div *ngFor="let item of posts.items">
    id : {{item.id}}
    created : {{item.createdAt}}
    Updated : {{item.updatedAt}}
    content : {{item.content}}
    likes : {{item.likes}}
    comments : {{item.comments}}

    <div *ngFor="let media of item.medias">
        id : {{media.id}}
        <img src="{{media.path}}">
    </div>

<div>


</div>


</div>