  <div class="cont">
    <div class="row1">
      <div class="col1">
        <app-activity-chart></app-activity-chart>
      </div>
      <div class="col2">
        <app-rating-top-pro-chart></app-rating-top-pro-chart>
      </div>
    </div>
    <div class="row2">
        <div class="col1">
            <app-client-difference-chart></app-client-difference-chart>
          </div>
          <div class="col2">
            <app-post-interaction-chart></app-post-interaction-chart>
          </div>
    </div>
  </div>
  

            
    
            
