<div class="row small-search">
  <div class="col-md-6">
      <input class="form-control form-control-sm" type="text" [(ngModel)]="searchTerm" placeholder="Search..." (ngModelChange)="searchPostsByAdmin('1')">
  </div>
  <div class="col-md-3">
      <button class="btn btn-primary btn-sm" (click)="resetFilters()">Reset</button>
  </div>
</div>
<table
  id="dtBasicExample"
  class="table table-striped table-bordered table-sm"
  cellspacing="0"
  width="100%"
>
  <thead>
    <tr>
      <th class="th-sm">Id</th>
      <th class="th-sm">Content</th>
      <th class="th-sm">Username</th>
      <th class="th-sm">User</th>
      <th class="th-sm">Role</th>
      <th class="th-sm">Pictures</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let item of posts?.items
          | paginate
            : {
                id: 'postPagination',
                itemsPerPage: postsItemsPerPage,
                currentPage: postsPage,
                totalItems: postsTotalItems
              }
      "
    >
      <td class="id">
        <div>
          {{ item.id }}
        </div>
      </td>
      <td>
        <div class="content">
          {{ item.content }}
        </div>
      </td>
      <td class="Username">
        <div>
          {{ item.user.username }}
        </div>
      </td>
      <td class="avatar">
        <div class="avatar">
            <div class="profile-block" (click)="redirectTo('/profile/'+item.user.id);">
              <img id="avatar" src="{{ item.user?.avatar }}" />
            </div>
          </div>
      </td>
      <td>{{ item.user.role }}</td>
      <td class="pictures">
        <div class="pictures">
            <div class="profile-block" *ngIf="item.medias?.length > 0" (click)="openPopUp(item.id)">
              <img src="{{ item.medias[0].path }}" />
              <div class="picture-count">{{ item.medias.length }}</div>
            </div>
          </div>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls
  id="postPagination"
  (pageChange)="searchPostsByAdmin((postsPage = $event))"
></pagination-controls>
