img{
    width: 60px;
    height: 60px;
}
.report-table td:first-child {
    width: 30%;
  }
  .report-table td:last-child {
    width: 70%;
  }

  .close {
    margin-top: -1rem;
  }
  .table {
    margin-top: -0.5rem;
  }